<%= form_with model: product do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description, style: "display: block" %>
    <%= f.text_area :descrption %>
  </div>

  <div>
    <%= f.label :featured_image, style: "display: block" %>
    <%= f.file_field :featured_image, accept: "image/*" %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>

